@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Ubuntu&family=Kaushan+Script&display=swap");
/*------------ CSS Reset --------------*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* 重置字體 */
body {
  /* 需要""的字體名稱有：二個英文單字含空格、中文字體名稱
     不需要""的字體名稱有：一個單字、有「-」格開
     也可全部都給「""」 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  /* inline不支緩尺寸設定，但a常用來設定尺寸，所以直接把inline修改為block */
  color: #666;
  text-decoration: none;
  /* 取消預設底線 */
  /* 設定在元素本身，不要設定在hover上。
     設定在hover上及未停留滿動畫時間時，滑鼠離開沒有動畫 */
  transition: 0.4s;
}

/* reset end */
/*------- keyframes -------*/
@keyframes myRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes myStorm {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(4px, 0, 0);
  }
  50% {
    transform: translate3d(-3px, 0, 0);
  }
  75% {
    transform: translate3d(2px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* keyframes end*/
#topbar .navbar #index section, #video div, #about div, #index section, #contact, #contact .content #contactform .btn-animat {
  display: flex;
  justify-content: center;
  align-items: center;
}

#topbar, footer {
  display: flex;
  justify-content: space-between;
}

#topbar .navbar .navigation ul {
  display: flex;
  justify-content: flex-end;
}

#news article a figure img, #about video, #news figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

#contact .content #contactform .btn-animat {
  border-radius: 99px;
  height: 60px;
  width: 210px;
  cursor: pointer;
  margin: 20px auto;
  border: solid 1px #cdaaab;
  color: #8f6b6d;
  letter-spacing: 15px;
  padding-left: 15px;
}
#contact .content #contactform .btn-animat:hover {
  animation: myRotate 0.75s both;
}
#contact .content #contactform .btn-animat:hover span {
  animation: myStorm 0.75s both;
}

#contact .content #contactform input, #contact .content #contactform textarea {
  border: solid 1px #cdaaab;
  padding: 10px;
  border-radius: 5px;
  color: #8f6b6d;
  font-weight: 600;
}
#contact .content #contactform input:focus, #contact .content #contactform textarea:focus {
  outline: 2px solid #cdaaab;
}
#contact .content #contactform input::-moz-placeholder, #contact .content #contactform textarea::-moz-placeholder {
  color: #cdaaab;
  font-size: 0.75rem;
  font-weight: 400;
}
#contact .content #contactform input::placeholder, #contact .content #contactform textarea::placeholder {
  color: #cdaaab;
  font-size: 0.75rem;
  font-weight: 400;
}

#news article a .text-box p, #news .text-box p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#service .list-box .item a p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#news article a .text-box h2, #service .list-box .item a h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

@font-face {
  font-family: Avenue;
  src: url(../webfonts/Avenue\ de\ Madison.ttf);
}
@font-face {
  font-family: Rosaline;
  src: url(../webfonts/Rosaline.otf);
}
/*---------- 共用區 ----------*/
.title {
  margin: 100px 0 30px;
}
.title * {
  text-align: center;
}
.title h2 {
  position: relative;
  font-family: Rosaline, serif;
  font-size: 2rem;
  border-bottom: solid 3px #393a3a;
  font-weight: 700;
}
.title h2::before, .title h2::after {
  content: "";
  position: absolute;
  border-radius: 99px;
  background-color: #8f6b6d;
}
.title h2::before {
  top: -3px;
  left: -10px;
  width: 15px;
  height: 15px;
}
.title h2::after {
  bottom: 10px;
  right: -7px;
  width: 10px;
  height: 10px;
}
.title h3 {
  font-family: "LXGW WenKai TC", cursive;
  font-size: 1.2rem;
}

.logo {
  width: 55px;
}

.icon a {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.icon-fb {
  background-image: url(../images/icon-fb.svg);
}
.icon-fb:hover {
  background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
  background-image: url(../images/icon-ig.svg);
}
.icon-ig:hover {
  background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
  background-image: url(../images/icon-line.svg);
}
.icon-line:hover {
  background-image: url(../images/icon-line-hover.svg);
}

.more {
  width: 100px;
  line-height: 50px;
  text-align: center;
  background-color: #8f6b6d;
  margin-top: 25px;
  color: #f2f7fa;
  border-radius: 99px;
}

/*---------- 頁首區 ----------*/
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  padding: 10px 30px;
}
#topbar .navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#topbar .navbar .hamburger {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
#topbar .navbar .hamburger .bar {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #393a3a;
  margin: 5px auto;
}
#topbar .navbar .hamburger.is-active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}
#topbar .navbar .hamburger.is-active .bar:nth-child(2) {
  opacity: 0;
}
#topbar .navbar .hamburger.is-active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}
@media (max-width:970px) {
  #topbar .navbar .navigation {
    /* 玻璃擬態*/
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7));
    border: solid 2px rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset -1px -1px 1px rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    display: none;
    animation: hide 0.75s both;
    flex-direction: column;
    padding: 10px;
  }
  #topbar .navbar .navigation.show {
    display: flex;
    animation: show 0.75s both;
  }
}
#topbar .navbar .navigation .menu {
  padding: 0 10px;
  border-radius: 99px;
}
@media (min-width:971px) {
  #topbar .navbar .navigation .menu {
    /* 玻璃擬態*/
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7));
    border: solid 2px rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset -1px -1px 1px rgba(255, 255, 255, 0.4);
  }
}
@media (max-width:970px) {
  #topbar .navbar .navigation .menu {
    flex-direction: column;
    order: -1;
  }
}
#topbar .navbar .navigation .menu a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  margin: 10px;
  border-bottom: solid 2px transparent;
}
#topbar .navbar .navigation .menu a:hover {
  color: #0a0a0a;
  border-bottom: solid 2px #0a0a0a;
}
#topbar .navbar .navigation .more {
  width: 100px;
  line-height: 50px;
  text-align: center;
  background-color: #8f6b6d;
  margin-top: 25px;
  color: #f2f7fa;
  border-radius: 99px;
}
#topbar .navbar #index section {
  flex-direction: column;
  height: 100vh;
}
@media (max-width:820px) {
  #topbar .navbar #index section#video {
    height: auto;
    padding-bottom: 100px;
  }
}

.list-box {
  display: flex;
  gap: 30px;
  width: 80%;
  max-width: 1100px;
}
.list-box .item {
  flex: 1;
  border: solid 1px #cdaaab;
  border-radius: 99px;
  overflow: hidden;
}

#news {
  background-color: #f2edf0;
}
@media (max-width:820px) {
  #news article:last-child {
    display: none;
  }
}
@media (max-width:640px) {
  #news article:nth-child(2) {
    display: none;
  }
}
#news article a:hover .text-box {
  background-color: #f2f7fa;
}
#news article a:hover figure {
  filter: brightness(70%);
}
#news article a figure {
  height: 30vh;
  transition: 0.4s;
}
#news article a .text-box {
  padding: 20px;
  transition: 0.4s;
}
#news article a .text-box p {
  text-align: justify;
  -webkit-line-clamp: 4;
}

#service {
  background-color: #e6ece5;
}
@media (max-width:820px) {
  #service .list-box {
    flex-direction: column;
    height: 70vh;
  }
}
#service .list-box .item {
  display: flex;
  align-items: flex-end;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
@media (max-width:820px) {
  #service .list-box .item:nth-child(n+3) {
    display: none;
  }
}
@media (max-width:640px) {
  #service .list-box .item:nth-child(n+2) {
    display: none;
  }
}
#service .list-box .item:nth-child(1) {
  background-image: url(../images/pt_svc1.jpg);
}
#service .list-box .item:nth-child(2) {
  background-image: url(../images/pt_svc2.jpg);
}
#service .list-box .item:nth-child(3) {
  background-image: url(../images/pt_svc3.jpg);
}
#service .list-box .item:nth-child(4) {
  background-image: url(../images/pt_svc4.jpg);
}
#service .list-box .item a {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f2f7fa;
}
#service .list-box .item a:hover {
  color: #0a0a0a;
  background-color: rgba(255, 255, 255, 0.4);
}

#video {
  background-image: url(../images/bg_contact.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (max-width:820px) {
  #video {
    height: auto !important;
  }
}
#video div {
  height: 50vh;
}
#video div video {
  height: 100%;
}
@media (max-width:820px) {
  #video div video {
    width: 100%;
    height: auto;
  }
}

#about {
  position: relative;
  background-color: #f2edf0;
}
#about div {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  flex-direction: column;
}
@media (max-width:820px) {
  #about div {
    width: 90%;
  }
}
#about div p {
  width: 90%;
  margin-bottom: 50px;
  padding-right: 10px;
  overflow: auto;
}
#about div p::-webkit-scroller {
  background-color: #f3e4e4;
  width: 12px;
  height: 12px;
}
#about div p::-webkit-scroller-button {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}
#about div p::-webkit-scroller-button:vertical:single-button:start {
  background-image: url(../images/arrow-up.svg);
}
#about div p::-webkit-scroller-button:vertical:single-button:end {
  background-image: url(../images/arrow-down.svg);
}
#about div p::-webkit-scroller-button:horizontal:single-button:start {
  background-image: url(../images/arrow-left.svg);
}
#about div p::-webkit-scroller-button:horizontal:single-button:end {
  background-image: url(../images/arrow-right.svg);
}
#about div p::-webkit-scroller-thumb {
  background-color: #8f6b6d;
  border-radius: 99px;
}
#about div p::-webkit-scroller-track {
  background-color: #e6ece5;
}
#about video {
  mix-blend-mode: overlay;
  filter: brightness(80%);
}

/* 主要內容區*/
#index section {
  flex-direction: column;
  height: 100vh;
}

.list-box {
  display: flex;
  gap: 30px;
  width: 80%;
  max-width: 1100px;
}
.list-box .item {
  flex: 1;
  border: solid 1px #cdaaab;
  border-radius: 12px;
  overflow: hidden;
}

/* 最新消息 */
#news {
  background-color: #f2edf0;
}
#news figure {
  height: 30vh;
}
#news .text-box {
  padding: 20px;
}
#news .text-box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#news .text-box p {
  text-align: justify;
  -webkit-line-clamp: 4;
}

#service .item {
  height: 50vh;
  background-size: cover;
  background-position: center;
}
#service .item:nth-child(1) {
  background-image: url(../images/pt_svc1.jpg);
}
#service .item:nth-child(2) {
  background-image: url(../images/pt_svc2.jpg);
}
#service .item:nth-child(3) {
  background-image: url(../images/pt_svc3.jpg);
}
#service .item:nth-child(4) {
  background-image: url(../images/pt_svc4.jpg);
}

/* 聯絡我們 */
#contact {
  position: relative;
  overflow: hidden;
  flex-direction: column;
  height: 100vh;
  background-color: #f2edf0;
}
@media (max-width:820px) {
  #contact {
    height: auto;
  }
}
#contact .content {
  display: flex;
  width: 80%;
  /* 聯絡表單 */
}
@media (max-width:640px) {
  #contact .content {
    flex-direction: column;
  }
}
#contact .content > * {
  flex: 1;
  margin: 0 30px;
}
#contact .content h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
#contact .content address {
  font-size: 0.85rem;
  font-style: normal;
  margin: 20px 0;
}
#contact .content iframe {
  width: 100%;
  height: 300px;
}
#contact .content #contactform > * {
  display: block;
  width: 100%;
}
#contact .content #contactform label {
  margin: 10px 0 5px;
}
#contact .content #contactform textarea {
  border-bottom-right-radius: 0;
}
#contact .content #contactform textarea::-webkit-resizer {
  background-image: url(../images/arrow-45.svg);
}
#contact figure {
  position: absolute;
  width: 250px;
}
@media (max-width:820px) {
  #contact figure {
    width: 200px;
  }
}
@media (max-width:640px) {
  #contact figure {
    display: none;
  }
}
#contact .flower_1 {
  left: 0;
  bottom: -30px;
}
#contact .flower_2 {
  right: -30px;
  top: 110px;
  transform: rotate(-30deg);
}

/* 頁尾區 */
footer {
  padding: 20px 30px;
  background-color: #8f6b6d;
  color: #f2f7fa;
}
@media (max-width:970px) {
  footer {
    flex-direction: column;
  }
}
footer a {
  color: #f2f7fa;
}
footer h2 {
  font-size: 1.5rem;
}
footer h2 span {
  font-size: 1rem;
}
footer .sitemap {
  display: flex;
}
@media (max-width:820px) {
  footer .sitemap {
    margin-top: 30px;
  }
}
@media (max-width:640px) {
  footer .sitemap {
    flex-direction: column;
  }
  footer .sitemap ul {
    padding-left: 20px;
  }
  footer .sitemap ul li {
    padding: 10px 0;
  }
}
footer .sitemap > li {
  margin: 0 10px;
}
footer small {
  align-self: flex-end;
}
@media (max-width:640px) {
  footer small {
    align-self: flex-start;
    margin-top: 30px;
  }
}
footer #gotop {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #cdaaab;
  border-radius: 99px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
  z-index: 99999;
  border: none;
}
footer #gotop:hover {
  background-color: #f3e4e4;
}