// color
$primary: #79ccff;

//Neutral colors: 中性色
$White: #fefeff;
$Light:#f2f7fa;
$Light-Gray:#e7ebee;
$Gray:#c8cacc;
$Dark-Gray:#a9acad;
$Deep-Gray:#828486;
$Charcoal:#393a3a;
$Black:#0a0a0a;

// alpha

$alpha-w-40: rgba(255, 255, 255, .4);
$alpha-w-70: rgba(255, 255, 255, .7);



$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-40: 0.4;
$alpha-50: 0.5;