// color
//Neutral colors: 中性色
$White: #fefeff;
$Light:#f2f7fa;
$Light-Gray:#e7ebee;
$Gray:#c8cacc;
$Dark-Gray:#a9acad;
$Deep-Gray:#828486;
$Charcoal:#393a3a;
$Black:#0a0a0a;

// background
$bg-1: #f2edf0;
$bg-2: #e6ece5;
$bg-3: #ecf0f4;

// 輔助
$lesser-1: #f3e4e4;
$lesser-2: #efdbdb;
$lesser-3: #cdaaab;
$lesser-4: #8f6b6d;

// alpha
$alpha-w-20: rgba(255, 255, 255, .2);
$alpha-w-40: rgba(255, 255, 255, .4);
$alpha-w-70: rgba(255, 255, 255, .7);

$alpha-b-20: rgba(0, 0, 0, 0.2);

$alpha-20: 0.2;
$alpha-30: 0.3;
$alpha-40: 0.4;
$alpha-50: 0.5;