// spacing
$space-sm: 15px;
$space-md: 20px;
$space-lg: 25px;
$space-xl: 30px;

$space-x-sm: 0 15px;
$space-x-md: 0 20px;
$space-x-lg: 0 25px;
$space-x-xl: 0 30px;

$space-y-xs: 10px 0;
$space-y-sm: 15px 0;
$space-y-md: 20px 0;
$space-y-lg: 25px 0;
$space-y-xl: 30px 0;

// radius(px)
$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 24px;
$radius-ex: 99px;

//width
$w-100: 100%;
$w-90: 90%;
$w-80: 80%;