@use "./reset"; //@use 規則必須在任何其他規則之前寫入
@use "./keyrames";
@use "./variables" as *;
@use "./function" as *;
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Ubuntu&family=Kaushan+Script&display=swap');

@font-face {
    font-family: Avenue;
    src: url(../webfonts/Avenue\ de\ Madison.ttf);
}

@font-face {
    font-family: Rosaline;
    src: url(../webfonts/Rosaline.otf);
}

/*---------- 共用區 ----------*/
// 區塊標題
.title {
    margin: $space-ex 0 $space-xl;

    * {
        //.title裡面的所有子孫
        text-align: center;
    }

    h2 {
        position: relative;
        font-family: $family-dispaly;
        font-size: $f-s-xxxl;
        @include border-b;
        font-weight: $f-w-b;

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-radius: $radius-ex;
            background-color: $lesser-4;
        }

        &::before {
            top: -3px;
            left: -10px;

            width: 15px;
            height: 15px;
        }

        &::after {
            bottom: 10px;
            right: -7px;

            width: 10px;
            height: 10px;
        }
    }

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
    }
}

.logo {
    width: 55px;
}

.icon {
    a {
        width: 35px;
        height: 35px;
        margin: $space-xxs;
    }
}

//迴圈不用調用，直接編譯語法(不可寫入function)
@each $social in fb, ig, line {
    .icon-#{$social} {
        background-image: url(../images/icon-#{$social}.svg);

        &:hover {
            background-image: url(../images/icon-#{$social}-hover.svg);
        }
    }
}

.more {
    width: 100px;
    // height: 50px;  //行高設定跟高度一樣，文字即可垂直置中
    line-height: 50px; //單行文字垂直置中，可直接設定行高取代高度
    text-align: center;
    background-color: $lesser-4;
    margin-top: $space-lg;
    color: $Light;
    border-radius: $radius-ex;
}

/*---------- 頁首區 ----------*/
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: $w-100;
    z-index: $z-ex;
    @extend %flex-between;
    padding: $space-xs $space-xl;

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        //漢堡按鈕
        .hamburger {
            background-color: transparent;
            border: none;
            margin-bottom: $space-xs;

            .bar {
                display: block;
                width: 24px;
                height: 3px;
                background-color: $Charcoal;
                margin: $space-xxs auto;
            }

            &.is-active {
                .bar {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(5px, 6px);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(5px, -6px);
                    }
                }
            }
        }

        .navigation {
            @media($mediaLg) {
                @include glassmorphism;
                border-radius: $radius-md;
                display: none; //一開始先隱藏
                @include amt($name: hide);
                flex-direction: column;
                padding: $space-xs;

                &.show {
                    display: flex; //點擊後顯示
                    @include amt($name:show);
                }
            }

            ul {
                @extend %flex-end;
            }

            .menu {
                padding: $space-x-xs;
                border-radius: $radius-ex;

                @media($mediaXl) {
                    @include glassmorphism;
                }


                @media ($mediaLg) {

                    flex-direction: column;
                    order: -1;
                }

                a {
                    font-family: $family-en;
                    font-weight: $f-w-b;
                    margin: $space-xs;
                    @include border-b ($width: 2px, $color: transparent);

                    &:hover {
                        color: $Black;
                        @include border-b ($width: 2px, $color: $Black);
                    }
                }
            }

            .more {
                width: 100px;
                // height: 50px; //行高設定跟高度一樣，文字即可垂直置中
                line-height: 50px; //單行文字垂直置中，可直接設定行高取代高度
                text-align: center;
                background-color: $lesser-4;
                margin-top: $space-lg;
                color: $Light;
                border-radius: $radius-ex;
            }
        }

        // 主要內容區
        #index {
            section {
                @extend %flex-center;
                flex-direction: column;
                height: 100vh;

                @media ($mediaMd) {
                    &#video {
                        height: auto;
                        padding-bottom: $space-ex;
                    }
                }
            }

        }
    }
}

.list-box {
    display: flex;
    gap: 30px;
    width: 80%;
    max-width: 1100px; //可幫助閱讀集中注意力

    .item {
        flex: 1;
        @include bordered;
        border-radius: $radius-ex;
        overflow: hidden; //超過框線自動隱藏
    }
}

// 最新消息
#news {
    background-color: $bg-1;

    article {
        @media ($mediaMd) {

            //平板尺寸以下包含手機板
            &:last-child {
                display: none;
            }
        }

        @media ($mediaSm) {
            &:nth-child(2) {
                //第二個以後的所有子元素
                display: none;
            }
        }

        a {
            &:hover {
                .text-box {
                    background-color: $Light;
                }

                figure {
                    filter: brightness(70%);
                }
            }

            figure {

                height: 30vh;
                transition: $speed-fast;

                img {
                    @extend %img-cover;
                }
            }

            .text-box {
                padding: $space-md;
                transition: $speed-fast; //需設定在元素本人上

                h2 {
                    @extend %list-title;
                }

                p {
                    text-align: justify; //齊行 (英文文案不建議使用
                    @extend %multiple-lines;
                    -webkit-line-clamp: 4;
                }
            }
        }
    }
}

// 服務項目
#service {
    background-color: $bg-2;

    .list-box {
        @media($mediaMd) {
            flex-direction: column;
            height: 70vh;
            //主軸垂直，高度轉換為hug，影響到子元素展不開
        }

        .item {
            display: flex;
            align-items: flex-end;
            height: 50vh;
            background-size: cover; //自動縮放，並從左上開始顯示圖片
            background-position: center; //背景置中要寫出來

            @media ($mediaMd) {
                &:nth-child(n+3) {
                    display: none;
                }
            }

            @media ($mediaSm) {
                &:nth-child(n+2) {
                    display: none;
                }
            }

            &:nth-child(1) {
                background-image: url(../images/pt_svc1.jpg);
            }

            &:nth-child(2) {
                background-image: url(../images/pt_svc2.jpg);
            }

            &:nth-child(3) {
                background-image: url(../images/pt_svc3.jpg);

            }

            &:nth-child(4) {
                background-image: url(../images/pt_svc4.jpg);
            }

            a {
                width: 100%; //因為flex會讓a變成hug，手動設定限制寬度
                padding: $space-md;
                background-color: $alpha-b-60;
                color: $Light;

                h2 {
                    @extend %list-title;
                }

                p {
                    @extend %single-line;
                }

                &:hover {
                    color: $Black;
                    background-color: $alpha-w-40;
                }
            }
        }
    }
}

//相關影片
#video {
    background-image: url(../images/bg_contact.jpg);
    background-size: cover;
    background-position: center; //bg cover 最好搭配position center
    background-attachment: fixed; //固定背景的語法

    @media ($mediaMd) {
        height: auto !important;
    }

    div {
        @extend %flex-center;
        height: 50vh; //設定寬度時會有等比例超過視窗的風險，故以設定高度為準

        // @media ($mediaMd) {
        //     width: 70%;
        //     height: auto;
        // }

        video {
            height: 100%;

            @media ($mediaMd) {
                width: 100%;
                height: auto;
            }
        }
    }
}

// 關於我們
#about {
    position: relative;
    background-color: $bg-1;

    div {
        position: absolute;
        z-index: 1;
        width: 60%;
        height: 100%;
        background-color: $alpha-w-70;

        @extend %flex-center;
        flex-direction: column;

        @media ($mediaMd) {
            width: 90%;
        }

        p {
            width: 90%;
            margin-bottom: 50px;
            padding-right: $space-xs;
            overflow: auto;
            // color: red;

            &::-webkit-scroller {
                //主要滾動條，包含按鈕
                //主要卷軸
                background-color: $lesser-1;
                width: 12px; //控制垂直卷軸
                height: 12px; //控制水平卷軸
            }

            &::-webkit-scroller-button {
                //上下左右按鈕
                // background-color: $lesser-3;
                width: 12px; //控制水平卷軸
                height: 12px; //控制垂直卷軸
                background-size: contain;
                background-repeat: no-repeat;

                &:vertical:single-button:start {
                    background-image: url(../images/arrow-up.svg);
                }

                &:vertical:single-button:end {
                    background-image: url(../images/arrow-down.svg);
                }

                &:horizontal:single-button:start {
                    background-image: url(../images/arrow-left.svg);
                }

                &:horizontal:single-button:end {
                    background-image: url(../images/arrow-right.svg);
                }
            }








            &::-webkit-scroller-thumb {
                //滾動手柄
                background-color: $lesser-4;
                border-radius: $radius-ex;
            }

            &::-webkit-scroller-track {
                //滾動軌道，不包含按鈕
                background-color: $bg-2;

            }
        }
    }

    video {
        // position: absolute;
        @extend %img-cover;
        mix-blend-mode: overlay;
        filter: brightness(80%);
        // opacity:.3;
    }
}

/* 主要內容區*/
#index {
    section {
        @extend %flex-center;
        flex-direction: column;
        height: 100vh;
    }
}

.list-box {
    display: flex;
    gap: $space-xl;
    width: $w-80;
    max-width: 1100px; // 集中注意力在中間

    .item {
        flex: 1;
        @include bordered;
        border-radius: $radius-md;
        overflow: hidden; //超過圓角被隱藏
    }
}

/* 最新消息 */
#news {
    background-color: $bg-1;

    figure {
        height: 30vh;

        img {
            @extend %img-cover;
        }
    }

    .text-box {
        padding: $space-md;

        h2 {
            font-size: $f-s-lg;
            font-weight: $f-w-m;
            margin-bottom: $space-xs;
        }

        p {
            text-align: justify; //齊行(英文文案不建議使用)
            @extend %multiple-lines;
            -webkit-line-clamp: 4;
        }
    }
}

// 服務項目
#service {
    .item {
        height: 50vh;

        background-size: cover; //自動縮放，並剪裁掉右下圖片範圍
        background-position: center; //背景置中要另外寫

        &:nth-child(1) {
            background-image: url(../images/pt_svc1.jpg);
        }

        &:nth-child(2) {
            background-image: url(../images/pt_svc2.jpg);
        }

        &:nth-child(3) {
            background-image: url(../images/pt_svc3.jpg);
        }

        &:nth-child(4) {
            background-image: url(../images/pt_svc4.jpg);
        }
    }
}

/* 聯絡我們 */
#contact {
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-1;

    @media ($mediaMd) {
        height: auto;
    }

    .content {
        display: flex;
        width: $w-80;

        @media ($mediaSm) {
            flex-direction: column;
        }

        >* {
            flex: 1;
            margin: $space-x-xl;
        }

        h1 {
            font-size: $f-s-xl;
            font-weight: $f-w-m;
        }

        address {
            font-size: $f-s-sm;
            font-style: normal;
            margin: $space-y-md;
        }

        iframe {
            width: $w-100;
            height: 300px;
        }

        /* 聯絡表單 */
        #contactform {
            >* {
                display: block;
                width: $w-100;
            }

            label {
                margin: $space-label;
            }

            .btn-animat {
                @extend %btn-animat;
            }

            input {
                @extend %input-style;
            }

            textarea {
                @extend %input-style;
                border-bottom-right-radius: 0;

                &::-webkit-resizer {
                    background-image: url(../images/arrow-45.svg);
                }
            }
        }

    }

    figure {
        position: absolute;
        width: 250px;

        @media ($mediaMd) {
            width: 200px;
        }

        @media ($mediaSm) {
            display: none;
        }
    }

    .flower_1 {
        left: 0;
        bottom: -30px;
    }

    .flower_2 {
        right: -30px;
        top: 110px;
        transform: rotate(-30deg);
    }

}

/* 頁尾區 */
footer {
    @extend %flex-between;
    padding: $space-md $space-xl;
    background-color: $lesser-4;
    color: $Light;

    @media ($mediaLg) {
        flex-direction: column;
    }

    a {
        color: $Light;
    }

    h2 {
        font-size: $f-s-xl;

        span {
            font-size: $f-s-md;
        }
    }

    .sitemap {
        display: flex;

        @media ($mediaMd) {
            margin-top: $space-xl;
        }

        @media ($mediaSm) {
            flex-direction: column;

            ul {
                padding-left: $space-md;

                li {
                    padding: $space-y-xs;
                }
            }
        }

        >li {
            margin: $space-x-xs;
        }
    }

    small {
        align-self: flex-end;

        @media ($mediaSm) {
            align-self: flex-start;
            margin-top: $space-xl;
        }
    }

    #gotop {
        display: none;
        width: 50px;
        height: 50px;
        background-color: $lesser-3;
        border-radius: $radius-ex;
        position: fixed;
        bottom: 50px;
        right: $space-xl;
        cursor: pointer;
        z-index: $z-ex;

        //button預設有padding與border
        border: none;

        &:hover {
            background-color: $lesser-1;
        }


    }
}