@use "./reset"; //@use 規則必須在任何其他規則之前寫入
@use "./keyrames";
@use "./variables" as *;
@use "./function" as *;
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Ubuntu&display=swap');

@font-face {
    font-family: Avenue;
    src: url(../webfonts/Avenue\ de\ Madison.ttf);
}

@font-face {
    font-family: Rosaline;
    src: url(../webfonts/Rosaline.otf);
}

/*---------- 共用區 ----------*/
// 區塊標題
.title {
    margin: $space-ex 0 $space-xl;

    * {
        //.title裡面的所有子孫
        text-align: center;
    }

    h2 {
        position: relative;
        font-family: $family-dispaly;
        font-size: $f-s-xxxl;
        @include border-b;
        font-weight: $f-w-b;

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-radius: $radius-ex;
            background-color: $lesser-4;
        }

        &::before {
            top: -3px;
            left: -10px;

            width: 15px;
            height: 15px;
        }

        &::after {
            bottom: 10px;
            right: -7px;

            width: 10px;
            height: 10px;
        }
    }

    h3 {
        font-family: $family-tc;
        font-size: $f-s-lg;
    }
}

.logo {
    width: 55px;
}

.icon {
    a {
        width: 35px;
        height: 35px;
        margin: $space-xxs;
    }
}

//迴圈不用調用，直接編譯語法(不可寫入function)
@each $social in fb, ig, line {
    .icon-#{$social} {
        background-image: url(../images/icon-#{$social}.svg);

        &:hover {
            background-image: url(../images/icon-#{$social}-hover.svg);
        }
    }
}

.more {
    width: 100px;
    // height: 50px;  //行高設定跟高度一樣，文字即可垂直置中
    line-height: 50px; //單行文字垂直置中，可直接設定行高取代高度
    text-align: center;
    background-color: $lesser-4;
    margin-top: $space-lg;
    color: $Light;
    border-radius: $radius-ex;
}

/*---------- 頁首區 ----------*/
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: $w-100;
    z-index: $z-ex;
    @extend %flex-between;
    padding: $space-xs $space-xl;

    ul {
        @extend %flex-end;
    }

    .menu {
        padding: $space-x-xs;
        border-radius: $radius-ex;
        @include glassmorphism;

        a {
            font-family: $family-en;
            font-weight: $f-w-b;
            margin: $space-xs;
            @include border-b ($width: 2px, $color: transparent);

            &:hover {
                color: $Black;
                @include border-b ($width: 2px, $color: $Black);
            }
        }
    }
}

/* 主要內容區*/
#index {
    section {
        @extend %flex-center;
        flex-direction: column;
        height: 100vh;
    }
}

.list-box {
    display: flex;
    gap: $space-xl;
    width: $w-80;
    max-width: 1100px; // 集中注意力在中間

    .item {
        flex: 1;
        @include bordered;
        border-radius: $radius-md;
        overflow: hidden; //超過圓角被隱藏
    }
}

/* 最新消息 */
#news {
    background-color: $bg-1;

    figure {
        height: 30vh;

        img {
            @extend %img-cover;
        }
    }

    .text-box {
        padding: $space-md;

        h2 {
            font-size: $f-s-lg;
            font-weight: $f-w-m;
            margin-bottom: $space-xs;
        }

        p {
            text-align: justify; //齊行(英文文案不建議使用)
            @extend %multiple-lines;
            -webkit-line-clamp: 4;
        }
    }
}

// 服務項目
#service {
    .item {
        height: 50vh;

        background-size: cover; //自動縮放，並剪裁掉右下圖片範圍
        background-position: center; //背景置中要另外寫

        &:nth-child(1) {
            background-image: url(../images/pt_svc1.jpg);
        }
        &:nth-child(2) {
            background-image: url(../images/pt_svc2.jpg);
        }
        &:nth-child(3) {
            background-image: url(../images/pt_svc3.jpg);
        }
        &:nth-child(4) {
            background-image: url(../images/pt_svc4.jpg);
        }
    }
}

/* 聯絡我們 */
#contact {
    position: relative;
    overflow: hidden;
    @extend %flex-center;
    flex-direction: column;
    height: 100vh;
    background-color: $bg-1;

    @media ($mediaMd) {
        height: auto;
    }

    .content {
        display: flex;
        width: $w-80;

        @media ($mediaSm) {
            flex-direction: column;
        }

        >* {
            flex: 1;
            margin: $space-x-xl;
        }

        h1 {
            font-size: $f-s-xl;
            font-weight: $f-w-m;
        }

        address {
            font-size: $f-s-sm;
            font-style: normal;
            margin: $space-y-md;
        }

        iframe {
            width: $w-100;
            height: 300px;
        }

        /* 聯絡表單 */
        #contactform {
            >* {
                display: block;
                width: $w-100;
            }

            label {
                margin: $space-label;
            }

            .btn-animat {
                @extend %btn-animat;
            }

            input {
                @extend %input-style;
            }

            textarea {
                @extend %input-style;
            }
        }

    }

    figure {
        position: absolute;
        width: 250px;

        @media ($mediaMd) {
            width: 200px;
        }

        @media ($mediaSm) {
            display: none;
        }
    }

    .flower_1 {
        left: 0;
        bottom: -30px;
    }

    .flower_2 {
        right: -30px;
        top: 110px;
        transform: rotate(-30deg);
    }

}

/* 頁尾區 */
footer {
    @extend %flex-between;
    padding: $space-md $space-xl;
    background-color: $lesser-4;
    color: $Light;

    @media ($mediaLg) {
        flex-direction: column;
    }

    a {
        color: $Light;
    }

    h2 {
        font-size: $f-s-xl;

        span {
            font-size: $f-s-md;
        }
    }

    .sitemap {
        display: flex;

        @media ($mediaMd) {
            margin-top: $space-xl;
        }

        @media ($mediaSm) {
            flex-direction: column;

            ul {
                padding-left: $space-md;

                li {
                    padding: $space-y-xs;
                }
            }
        }

        >li {
            margin: $space-x-xs;
        }
    }

    small {
        align-self: flex-end;

        @media ($mediaSm) {
            align-self: flex-start;
            margin-top: $space-xl;
        }
    }
}